@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-home-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/yoga-bg.png');
    background-size: cover;
    text-align: center;
    padding: 20px;
    font-family: "Roboto";
}

.home-img {
    padding-top: 150px;
    width: 50vw;
}

.home-heading {
    font-size: 25px;
    color: #132d84;
    font-weight: bold;
    padding-top: 10px;
}

.home-para {
    color: #323f4b;
}

.home-button {
    background-color: #132d84;
    color: #fad693;
    border-width: 0px;
    font-size: 15px;
    width: 90px;
    border-radius: 5px;
    height: 30px;
}

.bg-Type-container {
    background-color: #ffedcb;
    background-size: cover;
    font-family: "Roboto";
    padding: 30px;
}

.top {
    text-align: center;
}

.type-heading {
    color: #132d84;
    padding: 10px;
    font-size: 30px;

}

.type-img {
    width: 70vw;
}

.bottom {
    background-color: #ffe2ac;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* text-align: center; */
}

.type-img2 {
    width: 20vw;
}

.type-padding {
    padding: 10px;
}

.type-heading2 {
    font-size: 20px;
    color: #253263;
}

.type-paragraph {
    font-size: 11px;
    color: #253263;
}

.type-button {
    text-align: center;
}